.flex-container{
   display: flex;
   width: 80%;
   background-color: white;
   height:fit-content;
   flex-direction: row;
   
   align-items: center;
   align-content: center;
   margin: auto;
}

.text{
   align-self: center;
   padding: 15px;
}