
<div class="flex-container">
   <div class="box">
      <div id= "mail"></div>
      <p>josse.vdd@live.com</p></div>
   <div class="box">
      <div id="phone"></div>
      <p>0496 31 31 29</p>
   </div>
</div>



