.flex-container{
   display: flex;
   width: 80%;
   background-color: white;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin: auto;
   height:100vh;
}
.box{
   display: flexbox;
   align-items: flex-start;
   padding: 2cm;
}
#mail{
   background-image: url(https://www.flaticon.com/svg/vstatic/svg/745/745100.svg?token=exp=1611784936~hmac=8078a8a58b322f8e79c9a1d057093290);
   height: 30px;
   width: 30px;
   align-self: start;
  
}
#phone{
   background-image: url(https://www.flaticon.com/svg/vstatic/svg/15/15884.svg?token=exp=1611786034~hmac=606824dd229e5a0ae432ac5613cdcfdd);
   height: 30px;
   width: 30px;
}