<header>
  <div class="container">
    <a href="#" class="logo">CV Josse Vandendriessche</a>
    <nav>
      <ul>
        <li><a  type="button" routerLink="/" id ="home">Home</a></li>
        <li><a  type="button" routerLink="/about-me" id ="aboutme">About me</a></li>
        <li><a  type="button" routerLink="/skills" id="skills">Skills</a></li>
        <li><a  type="button" routerLink="/contact" id ="contact">Contact</a></li>
        
      </ul>
    </nav>
  </div>
</header>

<div class= "container">
  <router-outlet></router-outlet>
</div>
