@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$primary: rgba(85, 85, 255, 1);
$secondary: rgba(0,250,0,1);

body{
   margin: 0;
   padding: 0;
   font-family: 'Nunito', 'sans-serif';
   font-size: 18px; 
   background-color: lightgray;
}

.container{
   width: 100%;
   margin: 0 auto;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

header{
   background: $primary;
   padding: 1em 0;
   z-index: 2;
   a{
      color: white;
      text-decoration: none;
    }
    a.logo{
      font-weight: bold;
      padding-left: 1cm;
    }
    nav{
       float: right;
       ul{
          list-style-type: none;
          margin: 0;
          display: flex;
          flex-wrap: nowrap;
          li a{
             padding: 1em;
             &:hover {
                background: darken($primary, 20%);
             }
          }
       }
    }
   }
 
   