.container{
   display: flex;
   height: 100vh;
   background-image: url(https://wonderfulengineering.com/wp-content/uploads/2014/04/code-wallpaper-17.jpg);
   background-color:darkgreen;
   justify-content: center;
   align-items: center;
   align-content: center;
}

#bio{
   width: 60%;
   margin: 0 auto;
   height: 600px;
   align-self: center;
   background-color: black;
   
   border-radius: 20%;
   text-align: center;
   padding:10px;
}

h1{
   color: white;
}

p{
   color: white;
}





