
<div class="container" id="menu">
      <div id="bio">
            <h1>Welkom</h1>
            <p>Ik ben Josse Vandendriessche en deze webpagina is mijn 'online-cv'.
            Ik volg momenteel een opleiding tot 'full-stack developor' en deze webpagina werd in het kader van deze opleiding gemaakt.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      
            
            
            </p>
      </div>
  
</div>